<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>


<body>
    
    <%- include('./partials/nav.ejs')  %>

    <div class="About-content">
        <h2>About Us</h2>
       <p>Welcome to Literary Haven, where stories come to life! Our blog is a sanctuary for book lovers, offering a rich collection of content that explores the multifaceted
         world of literature. From in-depth analyses of classic and contemporary novels to insightful discussions on character psychology and thematic elements, we aim to deepen
          your appreciation for the written word. Whether you're searching for hidden literary gems, tips on building your personal library, or guidance on writing compelling book
           reviews, Literary Haven is your go-to destination. Join us on this literary journey as we celebrate the power of storytelling and the enduring magic of books.</p>
    </div>
    <%- include('./partials/footer.ejs')  %>

</body>
</html>
	


